<div class="container">
    <div class="row">

        <!--
            ============
            PRESENTACIÓN
            ============
        -->

        <div id="presentacion" class="col-12">
            <p id="nombre" class="text-center">
                <i class="fab fa-angellist"></i>
                ¡Hola! soy Cristian Guzmán Suárez.</p>
            <p id="descripcion">
                Estudiante de Ingeniería en Computación, UNAM. 9° Semestre | 
                Interesado en la programación y el desarrollo web full stack.
            </p>
        </div>
    </div>
</div>