<div class="container">
    <div class="row">

        <!--
            ============
            PRESENTACIÓN
            ============
        -->

        <div id="presentacion" class="col-12">
            <p id="nombre" class="text-center">
                <i class="fab fa-angellist"></i>
                ¡Hola! soy Cris.</p>
            <p id="descripcion">
                💻 Ingeniería en Computación, UNAM. | 
                🌎 Interesado en la programación y el desarrollo web .
            </p>
        </div>
    </div>
</div>