<div class="container">
    <div class="row">

        <!--
            ============
            PRESENTACIÓN
            ============
        -->

        <div id="presentacion" class="col-12">
            <p id="nombre" class="text-center">
                <i class="fab fa-angellist"></i>
                ¡Hola! soy Cristian Guzmán Suárez.</p>
            <p id="descripcion">
                Estudiante de Ingeniería en Computación |
                Universidad Nacional Autónoma de México |
                Noveno semestre |
                Interesado en la programación, desarrollo web y redes de datos.
            </p>
        </div>
    </div>
</div>